.btn {
  -webkit-appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-block;
  transition: all 0.3s;
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  padding: 12px 35px;
  border-radius: 17px;
  min-height: 70px;

  @include responsive1279 {
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
    padding: 9px 0;
  }

  &--blue {
    color: $colorWhite;
    border: solid 1px $colorBlue;
    background-color: $colorBlue;
  }

  &--yellow {
    color: $colorWhite;
    border: solid 1px $colorYellow;
    background-color: $colorYellow;
  }

  &--white {
    background-color: transparent;
    border: solid 1px $colorWhite;
    color: $colorWhite;

    &:hover {
      background-color: $colorWhite;
      color: $colorBlack;
    }
  }

  &:hover {
    transform: scale(0.9);
  }
}

.btn-close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0.990197' y1='11.9602' x2='12.3039' y2='0.646459' stroke='%2336a9db'/%3e%3cline x1='1.35355' y1='0.646691' x2='12.6673' y2='11.9604' stroke='%2336a9db'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: 16px;
  position: absolute;
  top: 10px;
  right: 0;
}

.btn-favorite {
  min-height: initial;
  padding: 0;
  width: 20px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.5104 18.6264C11.1704 18.7464 10.6104 18.7464 10.2704 18.6264C7.37038 17.6364 0.890381 13.5064 0.890381 6.50638C0.890381 3.41638 3.38038 0.916382 6.45038 0.916382C8.27038 0.916382 9.88038 1.79638 10.8904 3.15638C11.9004 1.79638 13.5204 0.916382 15.3304 0.916382C18.4004 0.916382 20.8904 3.41638 20.8904 6.50638C20.8904 13.5064 14.4104 17.6364 11.5104 18.6264Z' stroke='%235C6672' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
