h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: $fontBuyan;
  font-weight: normal;

  &--gradient {
    font-weight: 700;
    background: linear-gradient(
      89.92deg,
      #cca181 0.07%,
      #e5cbb6 24.2%,
      #ddbba1 51.47%,
      #e5c9b5 75.82%,
      #d6af90 98.94%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h1,
.caption--h1 {
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;

  @include responsive1439 {
    font-size: 36px;
    line-height: 40px;
  }

  @include responsive767 {
    font-size: 24px;
    line-height: 40px;
  }
}

h2,
.caption--h2 {
  font-size: 55px;
  line-height: 60px;

  @include responsive1279 {
    font-size: 38px;
    line-height: 42px;
  }

  @include responsive767 {
    font-size: 32px;
    line-height: 34px;
  }
}

h3,
.caption--h3 {
  font-size: 32px;
  line-height: 34px;
}

h4,
.caption--h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @include responsive1279 {
    font-size: 16px;
    line-height: 24px;
  }
}
